@import url('./reset.css');
@font-face {
    font-family: myAtariFont;
    src: url('../src/ARCADE_N.TTF');
}

/* GENERAL SETTINGS */
* {
    font-family: myAtariFont;
}

h1 {
    color: white;
    font-size: 34px;
    font-weight: bold;
    margin: 40px 0px 0px 0px;
}

section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 250px;
    height: 50px;
    background: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

button:hover,
button:focus {
    width: 260px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

li {
    margin-bottom: 30px;
}

li:first-child {
    margin-top: 40px;
    color: rgb(41, 255, 41);
}
li:nth-child(2) {
    color: rgb(253, 149, 30);
}
li:nth-child(3) {
    color: rgb(251, 255, 31);
}

li:last-child {
    margin-bottom: 60px;
}

#leaderboard-names {
    width: 350px;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 60, 0);
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background.png');
    animation: slide 40s linear infinite;
}
@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 1000px;
    }
}

.game-container {
    width: 98%;
    height: 100%;
    margin: 0 auto;
}


/* --- HOME PAGE --- */
#home-page-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto 40px auto;
    animation: blink 1.5s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ----- SETTINGS ----- */
#setting-list li {
    list-style-type: none;
    text-align: center;
}

/* ----- PLAYING ----- */
#game-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#game-header .stats {
    margin: 20px 70px 0px 70px;
    display: flex;
    align-items: center;
}

#hi-score-text {
    color: red;
    margin: 20px 10px 10px 0px;
    text-align: center;
}

#hi-score-points {
    margin: 0;
    text-align: center;
}

#actual-score {
    color: rgb(0, 201, 0);
}


#footer {
    width: 100%;
    height: 30px;
    display: flex;
}

#footer p {
    margin: 0px 0px 0px 70px;
}


/* ----- GAME OVER ----- */
#game-over-page p {
    margin: 30px 0px 60px 0px;
}

#game-over-img {
    width: 300px;
    height: 250px;
    display: block;
    margin: 40px auto 0px auto;
}

/* ----- SAVE PLAYER SCORE ----- */

#player-score {
    margin: 20px 0px 0px 0px;
    font-size: 25px;
    color:rgb(0, 201, 0);
}

.cursor {
    position: relative;
    margin: 40px 0px 40px 0px;
    height: 30px;
}

.cursor input {
    width: 300px;
    height: 100%;
    font-size: 20px;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
}

.cursor	i {
	position: absolute;
	width: 4px;
    height: 85%;
    background-color: white;
    top: 10%;
	animation-name: blink-cursor;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

.cursor input:hover, input:focus {
    outline: none;
}

@keyframes blink-cursor {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* INSTRUCTIONS */

#instructions {
    width: 80%;
    margin: 40px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

#instructions p {
    margin: 20px 0px 20px 0px;
}

#color-text-ins {
    color: chartreuse;
}

.live-img {
    margin-right: 10px; 
}