@import url('./reset.css');
/* ---- reset ---- */



/* my settings */

h1 {
    font-size: 34px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 90px;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
}

button:hover {
    background: orange;
}

.game-container {
    width: 98%;
    height: 98vh;
    border: 1px solid black;
    margin: 0 auto;
    
}


